.set-heightmodal .modal-content {
    width: 450px !important;
    height: 280px !important;
    border-radius: 10px !important;
    border: none;
    align-items: center;
}

.set-marginbot {
    margin-bottom: 30px !important;
}

.set-littemarginbot {
    margin-bottom: 15px !important;
}

