<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title & Icon of ADMIN website -->
    <title>Profile - ChatApp</title>
    <link rel="icon" href="../static/images/chat_logo.png">

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="../static/css/viewprofile.css">

    <!-- Animation CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/animate.css">
</head>
<body>
    <div class="row justify-content-center h-100 animated zoomIn">
        <div class="chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header text-center">
                    <label class="heading">PROFILE INFORMATION</label>
                </div>
                <!-- <div id="profileMsg">{{profileMsg}}</div> -->
                <div class="card-body contacts_body">
                    <div class="input-group divstyle">
                        <label class="col-lg-3 col-md-3 labelstyle">Username:</label>
                        <label class="col-lg-8 col-md-8 content">{{ProUsername}}</label>
                        <span class="col-lg-1 col-md-1"></span>
                    </div>
                    <div class="input-group divstyle">
                        <label class="col-lg-3 col-md-3 labelstyle">Password:</label>
                        <label class="col-lg-8 col-md-8 content">************</label>
                        <span id="btnEditPassword" class="col-lg-1 col-md-1" style="cursor: pointer;"><i class="fa fa-edit"></i></span>
                    </div>
                    <div class="input-group divstyle">
                        <label class="col-lg-3 col-md-3 labelstyle">Email:</label>
                        <label class="col-lg-8 col-md-8 content">{{ProEmail}}</label>
                        <span id="btnEditEmail" class="col-lg-1 col-md-1" style="cursor: pointer;"><i class="fa fa-edit"></i></span>
                    </div>
                    <div class="input-group divstyle">
                        <label class="col-lg-3 col-md-3 labelstyle">Phone:</label>
                        <label class="col-lg-8 col-md-8 content">{{ProPhone}}</label>
                        <span id="btnEditPhone" class="col-lg-1 col-md-1" style="cursor: pointer;"><i class="fa fa-edit"></i></span>
                    </div>
                    <div class="input-group divstyle">
                        <label class="col-lg-3 col-md-3 labelstyle">Created at:</label>
                        <label class="col-lg-8 col-md-8 content">{{ProCreateAt}}</label> 
                        <span class="col-lg-1 col-md-1"></span>
                    </div>
                    <div class="input-group divstyle">
                        <label class="col-lg-3 col-md-3 labelstyle">Updated at:</label>
                        <label class="col-lg-8 col-md-8 content">{{ProUpdatedAt}}</label> 
                        <span class="col-lg-1 col-md-1"></span>
                    </div>
                </div>
                <div class="card-footer" style="padding: 0.5rem 0.5rem;">
                    <div class="row optionrow">
                        <div class="col-md-6 col-xl-6 optiondiv">
                            <a class="optionstyle" href="/logout"><i class="fa fa-power-off optionicon"></i>Logout</a>
                        </div>
                        <div class="col-md-6 col-xl-6 optiondiv">
                            <span id="option_menu_btn" class="optionstyle"><i class="fa fa-ellipsis-v optionicon"></i>Options</span>
                            <div class="option_menu">
                                <ul>
                                    <li><a class="optionstyle" href="/dashboard"><i class="fa fa-address-book optionicon"></i> Friend list</a></li>
                                    <li><a class="optionstyle" href="#"><i class="fa fa-users optionicon"></i>Close friend list</a></li>
                                    <li><a class="optionstyle" href="#t"><i class="fa fa-user-circle optionicon"></i>Group list</a></li>
                                    <!--<li><i class="fa fa-ban optionicon"></i> Block list</li>-->
                                    <li id="deactiveAccount" style="color: #ff4c4c;"><i class="fa fa-times-circle optionicon"></i> Deactive account</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal deactive account -->
    <form action="/dashboard/deactiveAccount" method="post" aria-hidden="true">
        <div class="modal animated fadeIn" role="dialog" id="modalDeactiveAccount" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog viewForm">
                <div class="modal-content" style="background: linear-gradient(to right, #91EAE4, #86A8E7);">
                    <div class="modal-header headerDialogUser">
                        DEACTIVE ACCOUNT
                    </div>
                    <div class="modal-body">  
                        <label class="col-lg-12 col-md-12 control-label">Are you really want to deactivate your account?</label>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button class="btn" id="cancelDeactive" data-dismiss="modal" style="margin-right: 15px;">Cancel</button>
                        <button class="btn" id="btnDeactive" type="submit" style="margin-right: 15px;">Deactivate</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal edit password -->
    <form action="/viewprofile/editpassword" method="post" aria-hidden="true" id="editPasswordForm">
        <div class="modal animated fadeIn" role="dialog" id="modalEditPassword" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog viewForm">
                <div class="modal-content" style="background: linear-gradient(to right, #91EAE4, #86A8E7);">
                    <div class="modal-header headerDialogUser">
                        EDIT PASSWORD
                    </div>
                    <div class="modal-body">  
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 control-label"><b style="color: red; padding-right: 3px;">*</b>New password:</label>
                            <div class="col-lg-12 col-md-12">
                                <input class="form-control" type="password" pattern=".{6,30}" title="Must have [6,30] characters" name="newPassword" id="newPassword" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 control-label"><b style="color: red; padding-right: 3px;">*</b>Confirm password:</label>
                            <div class="col-lg-12 col-md-12">
                                <input class="form-control" type="password" pattern=".{6,30}" title="Must have [6,30] characters" name="confirmPassword" id="confirmPassword" required>
                            </div>
                        </div>
                        <div class="form-group" style="color: red; font-weight: normal; padding: 0px 15px;">
                            <i><b>(*)</b>: Required</i>
                        </div>
                        <div id="msg" style="display: none;"></div>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button class="btn" id="cancelChangePassword" data-dismiss="modal" style="margin-right: 15px;">Cancel</button>
                        <button class="btn" id="changePassword" type="submit" style="margin-right: 15px;">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal edit email -->
    <form action="/viewprofile/editemail" method="post" aria-hidden="true">
        <div class="modal animated fadeIn" role="dialog" id="modalEditEmail" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog viewForm">
                <div class="modal-content" style="background: linear-gradient(to right, #91EAE4, #86A8E7);">
                    <div class="modal-header headerDialogUser">
                        EDIT EMAIL
                    </div>
                    <div class="modal-body">  
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 control-label"><b style="color: red; padding-right: 3px;">*</b>Email:</label>
                            <div class="col-lg-12 col-md-12">
                                <input class="form-control" type="email" value="{{ProEmail}}" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" required autofocus>
                            </div>
                        </div>
                        <div class="form-group" style="color: red; padding-right: 3px; font-weight: normal; padding: 0px 15px;">
                            <i><b>(*)</b>: Required</i>
                        </div>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button class="btn" id="cancelChangeEmail" data-dismiss="modal" style="margin-right: 15px;">Cancel</button>
                        <button class="btn" id="changeEmail" type="submit" style="margin-right: 15px;">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal edit phone -->
    <form action="/viewprofile/editphone" method="post" aria-hidden="true">
        <div class="modal animated fadeIn" role="dialog" id="modalEditPhone" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog viewForm">
                <div class="modal-content" style="background: linear-gradient(to right, #91EAE4, #86A8E7);">
                    <div class="modal-header headerDialogUser">
                        EDIT PHONE
                    </div>
                    <div class="modal-body">  
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 control-label"><b style="color: red; padding-right: 3px;">*</b>Phone:</label>
                            <div class="col-lg-12 col-md-12">
                                <input class="form-control" type="text" value="{{ProPhone}}" pattern="[0-9]{2,10}" title="Must have [2,10] number characters" required autofocus name="phone">
                            </div>
                        </div>
                        <div class="form-group" style="color: red; padding-right: 3px; font-weight: normal; padding: 0px 15px;">
                            <i><b>(*)</b>: Required</i>
                        </div>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button class="btn" id="cancelChangePhone" data-dismiss="modal" style="margin-right: 15px;">Cancel</button>
                        <button class="btn" id="changePhone" type="submit" style="margin-right: 15px;">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        $(document).ready(function() {
            $('#option_menu_btn').click(function(){
                event.stopPropagation();
                $('.option_menu').toggle();
            });
            
            $(".option_menu").on("click", function (event) {
                event.stopPropagation();
            });

            $(document).on("click", function () {
                $(".option_menu").hide();
            });

            $('#deactiveAccount').click(function() {
                $("#modalDeactiveAccount").modal('show');
            });

            $('#btnEditPhone').click(function() {
                $("#modalEditPhone").modal('show');
            });

            $('#btnEditEmail').click(function() {
                $("#modalEditEmail").modal('show');
            });

            $('#btnEditPassword').click(function() {
                $("#modalEditPassword").modal('show');
            });

            $('#cancelChangePassword').click(function() {
                $('#newPassword').val("");
                $('#confirmPassword').val("");
                $('#msg').val("").css('display', 'none');
            });

            $('form#editPasswordForm').submit(function(event) {
                var newpass = $('#newPassword').val();
                var confirmPass = $('#confirmPassword').val();
                if (newpass != confirmPass) {
                    $('#msg').removeAttr('style');
                    $('#msg').text("[ERROR] New password is different from Confirm password");
                    $('#newPassword').val("");
                    $('#confirmPassword').val("");
                    return false;
                }
            });
        });
    </script>
</body>
</html>