@import url(//db.onlinewebfonts.com/c/623c7118249e082fe87a78e08506cb4b?family=Segoe+UI);

.input-text {
    width: 350px;
    height: 60px;
}

.input-group-text {
    padding: 0px 15px;
    display: cell;
    justify-content: center;
}

.input-text .input-group-append span {
    margin-left: -1px;
    width: 60px;
    border-radius: 0;
    border-color: #F98D0F;
    background: white;
    color: #323232
}

.input-text .input-group-append span img {
    width: 25px;
    height: 25px;
}

.input-group-append {
    margin-left: 0px;
}

.input-text input {
    height: 60px;
    border-radius: 0;
    border-color: #F98D0F;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-text input:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 158, 48, 0.425);
    border-color: #F98D0F;
}

.input-text .no-border-right {
    border-right: none;
}
