.input-text {
    width: 350px;
    height: 60px;
}

.input-group-text {
    padding: 0px 15px;
}
 
.input-text .input-group-prepend span {
    width: 60px;    
    text-align: center; 
    border-radius: 0;
    border-color: #F98D0F;
    background: white;
    color: #323232
}

.input-text .input-group-prepend span img {
    margin-left: -1px;
    width: 25px;    
    height: 25px;
}

.input-text input {
    margin-right: 1px;
    height: 60px;
    border-radius: 0;
    border-color: #F98D0F;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-text input:focus  {
    box-shadow:0 0 0 0.2rem rgba(255, 158, 48, 0.425);
    border-color: #F98D0F;
}

/* Hide scroll of input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Hide scroll of input type number */
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}