.lbir-background {
    position: relative;
    background-color: white;
}

.lbir-title {
    width: 100%;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #F98D0F;
    background: rgb(249, 141, 15, .2);
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.lbir-img {
    width: 45px;
    height: 40px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, .5));
}

.lbir-label {
    margin: 0;
}

.lbir-displayedname {
    margin: 0px 10px 0px 0px;
}

.lbir-points {
    flex-grow: 1;
    text-align: right;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
}

/* ----------------------------------------- 
    EFFECT SHINE FOR RANKING
   ----------------------------------------- */

.shine {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 65px;
    justify-content: center;
    margin-bottom: 1px;
}

.shine:after {
    animation: shine 3s ease-in-out infinite alternate;
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.8) 92%,
    rgba(255, 255, 255, 0.0) 100%
    );
}

.icon:active:after {
    opacity: 0;
  }

@keyframes shine {
    to {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
}