.row {
    margin-right: 0px;
    margin-left: 0px;
}

.contacts_body {
    padding: 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.chat {
    width: 450px;
    max-width: 450px;
}

.option_menu ul {
    list-style: none;
    padding: 15px 0;
    margin: 0;
    position: absolute;
    bottom: 40px;
    left: -100px;
    width: max-content;
    z-index: 1;
    color: white;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
}

#msg {
    color: black;
    font-weight: bold;
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 6px 15px;
    font-size: 16px;
}

/* #profileMsg {
    color: #ff726f;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding: 0px 18px;
    font-size: 16px;
} */

.card {
    height: fit-content;
}

.h-100 {
    height: 100%!important;
    width: 100%!important;
}

.optionicon {
    padding-right: 10px;
} 

.heading {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.content {
    color: lightyellow;
    font-size: 18px;
    margin: auto;
    padding-right: 15px;
}

.divstyle {
    margin: 10px 0px;
}

.labelstyle {
    color: white;
    font-size: 18px;
    margin: auto;
    padding-left: 20px;
}

.form-control {
    margin-right: 15px;
}

.btnEditInfoStyle {
    background-color: #86A8E7; 
    color: black; 
    font-weight: bold;
    font-size: 16px;
    width: 140px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid white;
}

.btnEditInfoStyle:hover {
    background-color: #7F7FD5; 
    font-weight: bold;
    color: white;
}

.btnEditInfoStyle:hover { 
    font-weight: bold;
}

/* Change Password */
#cancelChangePassword,
#cancelChangeEmail,
#cancelChangePhone {
    background-color: RGB(128,128,128,0.8); ; 
    color: #fff; 
    width: 140px;
    max-width: 140px;
}

#cancelChangePassword:hover,
#cancelChangeEmail:hover,
#cancelChangePhone:hover {
    background-color: RGB(128,128,128); 
    color: #fff; 
    font-weight: bold;
}

/* DEACTIVE */
#changePassword,
#changeEmail,
#changePhone {
    background-color: #7F7FD5; 
    color: #fff; 
    width: 140px;
    max-width: 140px;
}

#changePassword:hover,
#changeEmail:hover,
#changePhone:hover {
    background-color: #7F7FD5; 
    color: #fff; 
    font-weight: bold;
}

#btnEditPhone,
#btnEditEmail,
#btnEditPassword {
    color: white;
    margin: auto;
}