.rcp-container {
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.rcp-modal {
    background: white;
    border-radius: 10px;
    width: 450px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rcp-marginbot {
    margin-bottom: 30px;
}

.rcp-margintop {
    margin-top: 30px;
}

.rcp-smallfontsize {
    font-size: 22px;
}

.rcp-labeldiv {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 60px;
}

.rcp-label {
    margin: 0;
    color: #F98D0F;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.rcp-label.success{
    color: rgb(32, 170, 78);
}

.rcp-label.error{
    color: rgb(245, 4, 4);
}