.spacing {
    margin: 2px 0px;
}

.gr-spacing-bottom {
    margin-bottom: 2px;
}

.gr-row {
    overflow-y: scroll;
    margin: 0;
    height: 705px; 
    align-content: flex-start;
}

.gr-row::-webkit-scrollbar {
    display: none;
}