.gsb-border{
    border: 1px solid white;
    padding: 16px;
}

.gsb-user-info-container{
    display: flex;
}


.gsb-game-ava-container{
    width: 100%;
    height: 100%;
}

.gsb-game-ava-container.left{
    margin-right:8px;
}

.gsb-game-ava-container.right{
    margin-left:8px;
}


.gsb-user-info-container .row{
    width: 100%;
    height: 160px;
}

.gsb-left{
    margin-right: 8px;
}

.gsb-right{
    margin-left: 8px;
}

.gsb-game-size-bar>.row{
    margin:16px 0px !important;
}

.cfr-chat-frame .form-group{
    margin:0;
}

.gsb-chat-container {
    height: 460px !important;
}