.gb-game-board{
    /* border-collapse: separate !important; */
    border-spacing:0; 
    display: flex;
    flex-direction: column;
}

.gb-game-board tr{
    display: flex;
    justify-content: center;
    width: 100%;
}

.gb-game-board td, .gb-game-board tr{
    padding: 0;
}

